$shade-0: #fff !default;
$shade-1: #d7dcdf !default;
$shade-10: #2c3e50 !default;
$teal: #1abc9c !default;

html,
body {
  margin: 0;
  padding: 0;

  background: #1b1b1b;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  height: 100%;
  overflow: hidden;
}

.title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: whitesmoke;

  position: absolute;
  margin: 0.2em 0 0 0;
  width: 100%;

  text-align: center;
  font-size: 4em;
  text-transform: full-width;
}

.simulation-window {
  height: 100%;
  width: 100%;
}

.panel {
  position: absolute;
  bottom: 0;
  margin: 0 5em;
  padding: 5em 0 1em 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 20%;
  transition: 500ms ease-in-out;

  &:hover {
    opacity: unset;
  }

  &__buttons {
    margin-top: 1em;

    & > * {
      min-width: 10em;

      &:not(:first-child) {
        margin-left: 1em;
      }
    }
  }
}

button {
  color: $shade-0;
  background: $shade-10;
  padding: 0.5em 2em;

  border: none;
  border-radius: 1em;

  transition: 250ms;

  &:hover {
    background: $teal;
  }

  &:active {
    transform: scale(0.9);
  }
}

.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    flex-basis: 30%;
  }
}

$slider-handle-color: $shade-10 !default;
$slider-handle-color-hover: $teal !default;
$slider-handle-size: 20px !default;

$slider-track-color: $shade-1 !default;
$slider-track-height: 10px !default;

$slider-label-color: $shade-10 !default;
$slider-label-width: 60px !default;

.slider {
  width: 20em;

  &__label {
    display: block;
  }

  &__input {
    -webkit-appearance: none;
    width: calc(100% - (#{$slider-label-width + 13px}));
    height: $slider-track-height;
    border-radius: 5px;
    background: $slider-track-color;
    outline: none;
    padding: 0;
    margin: 0;

    // Range Handle
    &::-webkit-slider-thumb {
      appearance: none;
      width: $slider-handle-size;
      height: $slider-handle-size;
      border-radius: 50%;
      background: $slider-handle-color;
      cursor: pointer;
      transition: background 0.15s ease-in-out;

      &:hover {
        background: $slider-handle-color-hover;
      }
    }

    &:active::-webkit-slider-thumb {
      background: $slider-handle-color-hover;
    }

    &::-moz-range-thumb {
      width: $slider-handle-size;
      height: $slider-handle-size;
      border: 0;
      border-radius: 50%;
      background: $slider-handle-color;
      cursor: pointer;
      transition: background 0.15s ease-in-out;

      &:hover {
        background: $slider-handle-color-hover;
      }
    }

    &:active::-moz-range-thumb {
      background: $slider-handle-color-hover;
    }

    // Focus state
    &:focus {
      &::-webkit-slider-thumb {
        box-shadow: 0 0 0 3px $shade-0, 0 0 0 6px $teal;
      }
    }
  }

  &__value {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: $slider-label-width;
    color: $shade-0;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: $slider-label-color;
    padding: 5px 10px;
    margin-left: 8px;

    &:after {
      position: absolute;
      top: 8px;
      left: -7px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 7px solid $slider-label-color;
      border-bottom: 7px solid transparent;
      content: "";
    }
  }
}

// Firefox Overrides
::-moz-range-track {
  background: $slider-track-color;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

// Cards
//@cardsvg = cards.svg;
$svgWidth: 167.5px;
$svgHeight: 243px;

.card {
  position: absolute;
//  width: $svgWidth;
//  height: $svgHeight;
//  background: url(img/cards.svg) no-repeat;
}

@mixin svg-position($row, $column) {
  background-position: (-$svgWidth*$row) (-$svgHeight*$column);
}

div.club_1 { @include svg-position(0, 0); }
div.club_2 { @include svg-position(1, 0); }
div.club_3 { @include svg-position(2, 0); }
div.club_4 { @include svg-position(3, 0); }
div.club_5 { @include svg-position(4, 0); }
div.club_6 { @include svg-position(5, 0); }
div.club_7 { @include svg-position(6, 0); }
div.club_8 { @include svg-position(7, 0); }
div.club_9 { @include svg-position(8, 0); }
div.club_10 { @include svg-position(9, 0); }
div.club_J { @include svg-position(10, 0); }
div.club_Q { @include svg-position(11, 0); }
div.club_K { @include svg-position(12, 0); }

div.diamond_1 { @include svg-position(0, 1); }
div.diamond_2 { @include svg-position(1, 1); }
div.diamond_3 { @include svg-position(2, 1); }
div.diamond_4 { @include svg-position(3, 1); }
div.diamond_5 { @include svg-position(4, 1); }
div.diamond_6 { @include svg-position(5, 1); }
div.diamond_7 { @include svg-position(6, 1); }
div.diamond_8 { @include svg-position(7, 1); }
div.diamond_9 { @include svg-position(8, 1); }
div.diamond_10 { @include svg-position(9, 1); }
div.diamond_J { @include svg-position(10, 1); }
div.diamond_Q { @include svg-position(11, 1); }
div.diamond_K { @include svg-position(12, 1); }

div.heart_1 { @include svg-position(0, 2); }
div.heart_2 { @include svg-position(1, 2); }
div.heart_3 { @include svg-position(2, 2); }
div.heart_4 { @include svg-position(3, 2); }
div.heart_5 { @include svg-position(4, 2); }
div.heart_6 { @include svg-position(5, 2); }
div.heart_7 { @include svg-position(6, 2); }
div.heart_8 { @include svg-position(7, 2); }
div.heart_9 { @include svg-position(8, 2); }
div.heart_10 { @include svg-position(9, 2); }
div.heart_J { @include svg-position(10, 2); }
div.heart_Q { @include svg-position(11, 2); }
div.heart_K { @include svg-position(12, 2); }

div.spade_1 { @include svg-position(0, 3); }
div.spade_2 { @include svg-position(1, 3); }
div.spade_3 { @include svg-position(2, 3); }
div.spade_4 { @include svg-position(3, 3); }
div.spade_5 { @include svg-position(4, 3); }
div.spade_6 { @include svg-position(5, 3); }
div.spade_7 { @include svg-position(6, 3); }
div.spade_8 { @include svg-position(7, 3); }
div.spade_9 { @include svg-position(8, 3); }
div.spade_10 { @include svg-position(9, 3); }
div.spade_J { @include svg-position(10, 3); }
div.spade_Q { @include svg-position(11, 3); }
div.spade_K { @include svg-position(12, 3); }

div.joker_black { @include svg-position(0, 4); }
div.joker_red { @include svg-position(1, 4); }
div.card_back { @include svg-position(2, 4); }
